In [1]:
import pandas as pd
import numpy as np

# Assuming this is your questions dataframe and userIds list
questions_df = pd.DataFrame({'questionId': range(1, 101)})
userIds = list(range(1, 101))

# Empty list to store the data
data = []

# Generate synthetic data
for user in userIds:
    for _, question in questions_df.iterrows():
        # Generate number of attempts
        n_times = np.random.randint(1, 10)
        
        # Generate number of correct and incorrect attempts
        n_correct = np.random.randint(0, n_times+1)
        n_incorrect = n_times - n_correct

        # Determine if the question was attempted and if it was answered correctly
        attempted = 1 if n_times > 0 else 0
        correct = np.random.randint(0, 2) if attempted else 0
        
        # Append the generated data to the list
        data.append([user, question['questionId'], correct, attempted, n_times, n_correct, n_incorrect])

# Convert the list to a dataframe
responses_df = pd.DataFrame(data, columns=['userId', 'questionId', 'Correct', 'Attempted', 'n_times', 'n_correct', 'n_incorrect'])

print(responses_df)

      userId  questionId  Correct  Attempted  n_times  n_correct  n_incorrect
0          1           1        0          1        1          1            0
1          1           2        1          1        6          5            1
2          1           3        0          1        6          4            2
3          1           4        0          1        7          5            2
4          1           5        0          1        8          1            7
...      ...         ...      ...        ...      ...        ...          ...
9995     100          96        0          1        9          9            0
9996     100          97        1          1        1          1            0
9997     100          98        0          1        3          2            1
9998     100          99        1          1        9          6            3
9999     100         100        0          1        9          7            2

[10000 rows x 7 columns]

In [2]:
responses_df

      userId  questionId  Correct  Attempted  n_times  n_correct  n_incorrect
0          1           1        0          1        1          1            0
1          1           2        1          1        6          5            1
2          1           3        0          1        6          4            2
3          1           4        0          1        7          5            2
4          1           5        0          1        8          1            7
...      ...         ...      ...        ...      ...        ...          ...
9995     100          96        0          1        9          9            0
9996     100          97        1          1        1          1            0
9997     100          98        0          1        3          2            1
9998     100          99        1          1        9          6            3
9999     100         100        0          1        9          7            2

[10000 rows x 7 columns]